<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
</style>

* {
box-sizing: border-box;


}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Roboto', sans-serif;
}

#landing {
  width: 100vw;
  max-width: 100%;
  
}

nav {

}

.nav__container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  
}



.nav__links  {
  
}


.nav__link {
  margin: 0 34px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(36, 62, 99);
}

.nav__link--log {
  margin: 0 24px 0 48px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(36, 62, 99);
  

}

.nav__link--sign {
  margin: 0 24px;
  color: rgb(36, 62, 99);
  

}

.btn__sign {
  background-color: rgb(100, 21, 255);
  color: white;
  font-size: 23px;
  font-weight: 600;
  border-radius: 99px;
  border: none;
  padding: 12px 36px;
}


.text__logo {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  
}

.logo {
  width: 40px;
  margin-right: 12px;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header__container {

}

.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}


.row__about {
display: flex;
justify-content: center;
align-items: center;
padding: 40px 40px;
}




.about__right--column {
  width: 40%
}


.about__text {
  font-size: 48px;
  text-align: left;

}

.purple {
  color:  rgb(100, 21, 255);
}

p { 
  color: rgb(36, 62, 99);

}

.about__us--disc {
  color: rgb(36, 62, 99);
  font-size: 18px;
  margin: 32px 0;
  line-height: inherit;

}

.desk__contaienr {
  width: ;
}

.desk__logo {
  max-width: 860px;
  min-width: 0px;
  width: 100%;
  align-self: flex-end;
  
}


button {
  background-color: #6415ff;
  border-width: 0;
  border-radius: 50px;
  padding: 12px 32px;
  color: rgb(247, 250, 252);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}



.about__email {
  display: flex;
  justify-content: space-between;
  max-width: 448px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-align: center;
}


.about__email input::placeholder {
  color: #9ca3af;

}

.about__email input {
  width: 100%;
  padding: 22px 192px 22px 32px;
  border-radius: 50px;
  font-size: 100%;
  font-weight: 500;
  border: 2px solid #e5e7eb;
  transition-property: border-color;
  transition-duration: 300ms;
  transition-timing-function: ease;


}


.about__email:focus {
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-color: #6415ff;
}

.about__email:hover {
  border-color: rgb(160, 174, 192);

}

.about__email button {
  position: absolute;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 160px;
  line-height: 1;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 100%;
  border: 0px;
  transition: all 300ms ease;

}

.about__email button:hover {
  cursor: pointer;
  background-color: rgb(60, 13, 153);
}


.about__truested {
  margin-top: 80px;
}



.about__truested p {
  font-size: 12px;
  letter-spacing: 0.8px;
  font-weight: 700;
  color: rgb(160, 174, 192);
}

.about__truested img {
  margin-top: 16px;
  width: 100%;
  opacity: 0.5;
  padding-right: 128px;
}


.features__container {
  padding: 90px 80px;
}


.features__text {
display: flex;
flex-direction: column;
align-items: center; 
margin-bottom: 40px;
}

.features__text h5 {
  color: #6415ff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em


}

.features__text h2 {
  font-size: 48px;
  font-weight: 800;
  color: rgb(36, 62, 99);
}

.features__disc {
  font-size: 18px;
  font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.services {
  display: flex;
  flex-wrap: wrap;
  
}



.icon {
  display: flex;
  flex-direction: row;
  width: calc(100% / 3);
  padding: 32px 0;
}

.img__container {
flex-shrink: 0;

}

.img__service {  
  border: solid rgb(226, 232, 240);
  border-width: 1px;
  border-radius: 9999px;
  padding: 20px;


}



.text__container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 8px;
}


.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.4px;
  
}


.descreption {
  color: rgb(226, 232, 240);
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
  line-height: 2;
  font-size: 25px;
  font-weight: 500;
  margin-top: 24px;
  padding-right: 24px;
}



.quality__container {
  display: flex;
  padding: 80px 90px;
}

.quality__img--container {
  width: 50%;
  display: flex;
  
  flex-direction: row;
}

.quality__text--container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: row;
  width: 50%;
  
}


.q__work {
  color: #6415ff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.6px;
  --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}



.quality__main--text {
  color: rgb(36, 62, 99);
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.4px;
  line-height: 1.25;
}


.quality__description {
  font-size: 18px;
  font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}


.learn__more {
  background-color: #6415ff;
  border-width: 0;
  border-radius: 50px;
  padding: 12px 32px;
  color: rgb(247, 250, 252);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #e5e7eb;
  transition-property: border-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition: all 300ms ease;

}

.learn__more:hover {
  border-color: rgb(160, 174, 192);
}

.learn__more:focus {
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-color: #6415ff;
}

